*.vsidx
.vs/CPP For Games/v17/.suo
.vs/CPP For Games/v17/Browse.VC.db
.vs/CPP For Games/v17/Browse.VC.db-shm
.vs/CPP For Games/v17/DocumentLayout.backup.json
.vs/CPP For Games/v17/ipch/AutoPCH/aa233746ac714b73/SOURCE.ipch
.vs/CPP For Games/v17/DocumentLayout.json
/.vs
